# 1. Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.

[Numbers like 56, which are both divisible by 7 and 8]

a. Using continue statement

b. Using the pass statement

a.

In [7]:
#(a)

print("number divisible by both 7 and 8 between 1 and 1000 are: ")
for num in range(1, 1001):
    if(num%7 != 0 or num%8 != 0):
        continue
    print(num)

number divisible by both 7 and 8 between 1 and 1000 are:
56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

b.

In [4]:
#(b)

print("number divisible by both 7 and 8 between 1 and 1000 are: ")
for num in range(1, 1001):
    if(num%7 == 0 and num%8 == 0):
        print(num)
    else:
        pass

number divisible by both 7 and 8 between 1 and 1000 are:
56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

# 2. Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.

[Sample input = 156893, Sample Output: sum_even = 14 , sum_odd = 18]

In [3]:
num = 34567222541147
num_str = str(num)

sum_even = 0
sum_odd = 0

for digit in num_str:
    digit = int(digit)
    if digit%2 == 0:
        sum_even += digit
    else:
        sum_odd += digit

print(f"Number: {num}")
print(f"Sum of even digits: {sum_even}")
print(f"Sum of odd digits: {sum_odd}")

Number: 34567222541147
Sum of even digits: 24
Sum of odd digits: 29

# 3. Describe conditional expression. Write a program to print the maximum and minimum numbers from a list using conditional expression. Use the max () and min () functions to verify your output.

In [4]:
numbers = [4, 8, -1, 10, 31, 7]

maximum = numbers[0] 
minimum = numbers[0]

for num in numbers[1:]:
    if num > maximum:
        maximum = num
        
    if num < minimum:
        minimum = num

max_ver = max(numbers)
min_ver = min(numbers)

print("Original List:", numbers)
print("Maximum by conditional expression:", maximum)
print("Minimum by conditional expression:", minimum)

print("Maximum(verified):", max_ver)
print("Minimum(verified):", min_ver)

Original List: [4, 8, -1, 10, 31, 7]
Maximum by conditional expression: 31
Minimum by conditional expression: -1
Maximum(verified): 31
Minimum(verified): -1

# 4. Pascalâ€™s  Triangle : Print the following pattern for the given N number of rows.

In [1]:
import math
n = int(input("enter any integer for pascal triangle: "))
for i in range(0,n):
    for k in range(0,n-i-1):
        print(end=' ')
    for j in range(0,i+1):
        a=int((math.factorial(i))/((math.factorial(j)) * (math.factorial(i-j))))
        print(a,end=' ')
    print()

enter any integer for pascal triangle: 8
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1
 1 6 15 20 15 6 1
1 7 21 35 35 21 7 1

# 5. A palindrome sentence is a phrase or sentence that reads the same forward as it does backward, ignoring spaces, punctuation, and capitalization.


A) Take a number as input, determine if it is a palindrome, considering only integers. Eg: 2442


B) Now, take a string as an input and check whether it is Palindrome or not.  eg: "Was it a car or a cat I saw?"

The expected output for this example will print, 'True'

(A)

In [20]:
num = int(input("enter any number: "))
number = num

def count_digit(n):
    sum = 0
    while(n != 0):
        sum = sum + 1
        n = n//10
    return sum
        
digit = count_digit(num)
rev_num = 0

while(num != 0):
    a = num%10
    rev_num = rev_num + a * pow(10,digit-1)
    digit = digit-1
    num = num//10

print(number==rev_num)

enter any number: 2569652
True

(B)

In [19]:
def is_palindrome(input_str):
    #removing non-alphanumeric characters and convert to lowercase
    cleaned_str = ''.join(char.lower() for char in input_str if char.isalnum())
    return cleaned_str == cleaned_str[::-1]

input_string = "Was it a car or a cat I saw?"

result = is_palindrome(input_string)

print(result)

True

# 6. Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:

Pattern for N=4

  A

  B B

  C C C

  D D D D

In [33]:
def pattern(n):
    for i in range(n):
        for j in range(i + 1):
            print(chr(ord('A') + i), end=" ")
        print()

N = 4

pattern(N)

A
B B
C C C
D D D D

# 7.You have a single list of names (each name should have first name and last name). Write a programme

(a) to print the first names.

(b) to print the last names.

(c) to print each name as 'last_name first_name.

(d) to print the names in the sorted order with respect to last name

Example :Input list: ['Mark Antony', 'Mohan Raj'],

Output :

 a) ['Mark', 'Mohan']  

b) ['Antony', 'Raj'] 

c) ['Antony Mark', 'Raj Mohan']

d) ['Mark Antony', 'Mohan Raj']

In [14]:
def first_names(names):
    return [name.split()[0] for name in names]

def last_names(names):
    return [name.split()[1] for name in names]

def format_names(names):
    return [f'{name.split()[1]} {name.split()[0]}' for name in names]

names_list = ['Mark Antony', 'Mohan Raj']

first_names = first_names(names_list)
print("a)", first_names)


last_names = last_names(names_list)
print("b)", last_names)


formatted_names = format_names(names_list)
print("c)", formatted_names)

a) ['Mark', 'Mohan']
b) ['Antony', 'Raj']
c) ['Antony Mark', 'Raj Mohan']

# 8. WAP to find the minimum of 3 numbers using

 a) with conditional expressions. (No loops should be used)

 b) with nested conditional expression. (No loops should be used)

 c) similar to problem (b), find the minimum of 4 numbers.

(a)

In [6]:
a=5
b=9
c=2
if(a<b<c):
    print("min is: ",a)
elif(b<a<c):
    print("min is :",b)
else:
    print("min is: ",c)

min is:  2

(b)

In [8]:
a=5
b=9
c=2
if(a<b):
    if(a<c):
        print("min is: ",a)
    else:
        print("min is: ",c)
if(b<a):
    if(b<c):
        print("min is :",b)
    else:
        print("min is: ",c)

min is:  2

(c)

In [13]:
a = 50
b = 92
c = 20
d = 70

if (a<b):
    if (a<c):
        if a<d:
            print("min is:", a)
        else:
            print("min is:", d)
    else:
        if c<d:
            print("min is:", c)
        else:
            print("min is:", d)
else:
    if b<c:
        if b<d:
            print("min is:", b)
        else:
            print("min is:", d)
    else:
        if c<d:
            print("min is:", c)
        else:
            print("min is:", d)

min is: 20

# 9. Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:

 append
remove
pop
insert 
reverse
sort
count
index
extend
slice
clear

In [31]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.append('ED')
print(list)

['mathematics', 'cse', 'chemistry', 'physics', 'biotech', 'ED']

In [32]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.remove('physics')
print(list)

['mathematics', 'cse', 'chemistry', 'biotech']

In [34]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.pop()
print(list)

['mathematics', 'cse', 'chemistry', 'physics']

In [41]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.insert(2,'ED')
print(list)

['mathematics', 'cse', 'ED', 'chemistry', 'physics', 'biotech']

In [42]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.reverse()
print(list)

['biotech', 'physics', 'chemistry', 'cse', 'mathematics']

In [43]:
list = ['mathematics','cse','chemistry','physics','biotech']
list.sort()
print(list)

['biotech', 'chemistry', 'cse', 'mathematics', 'physics']

In [46]:
list = ['mathematics','cse','chemistry','physics','biotech']
print(list.count('cse'))
print(list)

1
['mathematics', 'cse', 'chemistry', 'physics', 'biotech']

In [49]:
list = ['mathematics','cse','chemistry','physics','biotech']
print(list.index('chemistry'))
print(list)

2
['mathematics', 'cse', 'chemistry', 'physics', 'biotech']

In [55]:
list = ['mathematics','cse','chemistry','physics','biotech']
list1 = ['ed','ee','aerospace engg.']
list.extend(list1)
print(list)

['mathematics', 'cse', 'chemistry', 'physics', 'biotech', 'ed', 'ee', 'aerospace engg.']

In [8]:
list = ['mathematics','cse','chemistry','physics','biotech']
sublist = list[slice(0,4,2)]
print(sublist)

['mathematics', 'chemistry']

In [9]:
list = ['mathematics','cse','chemistry','physics','biotech']
sublist = list[slice(0,4,2)]
print(sublist)
print(sublist.clear())
print(list.clear())

['mathematics', 'chemistry']
None
None

In [10]:
list

[]

In [11]:
sublist

[]